<div class="container">
    <mat-card class="example-card">
      <mat-card-header>
        <img [src]="userData.avatar" mat-card-avatar />
        <mat-card-title
          >{{ userData.first_name }} {{ userData.last_name }}</mat-card-title
        >
        <mat-card-subtitle>
          {{ userData.email }}
        </mat-card-subtitle>
      </mat-card-header >
      <img mat-card-image style="width: 255px " [src]="userData.avatar" />
      <mat-card-actions class="center-button">
        <button mat-raised-button   color="primary" (click)="cancel()">
          Cancel
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
  